body {
    color: blue;
    background-color: black;
    font-family: "Times New Roman", Times, serif;

    font-size: 150%;
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 20%;
    
}




